@media screen and (min-width: 760px) {

  .img {
    display: block;
    background: url('../img/ziekenhuis.jpeg') center center no-repeat;
    background-size: cover;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "kop kop"
            "t1 t2"
            "t3 t4"
            "img t5"
            "img t6"
            "img t7"
            "t8 aside"
            "t9 aside"
            "t10 aside"
            "voet voet";
  }

  header {grid-area: kop;}
  .orthopedie {grid-area: t1;}
  .intensive {grid-area: t2;}
  .logopedie {grid-area: t3;}
  .podotheraphie {grid-area: t4;}
  .urologie {grid-area: t5;}
  .geriatrie {grid-area: t6;}
  .palliative {grid-area: t7;}
  .hart {grid-area: t8;}
  .kanker {grid-area: t9;}
  .neurologisch {grid-area: t10;}
  .img {grid-area: img;}
  aside {grid-area: aside;}
  footer {grid-area: voet;}

  .orthopedie_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .orthopedie_article {
    h3 {grid-column: span 2;}
  }

  footer {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}


@media screen and (min-width: 1000px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "kop kop kop"
            "t1 t2 img"
            "t3 t4 img"
            "t5 t6 t6"
            "aside t7 t8"
            "aside t9 t10"
            "voet voet voet";
  }
}