html, body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: Avenir, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.wrapper {
  border: 1px solid black;
  width: 20rem;
  padding: 30px;
  background-color: #99414f;
}

.mijnOpgave {
  margin-bottom: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.input {
  margin-left: 5.5rem;
  padding: 5px;
}

.output {
  margin-left: 6.5rem;
}

.goed{
  background-color: #029d2c;
  color: #fff;
}

.fout{
  background-color: #a10101;
  color: #fff;
}
